@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: lightgray;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.navbar-name {
    float:left;
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.navbar-container {
    position: absolute;
    background-color:black;
    width:100%;
}

.navbar-container a {
    text-decoration: none;
    color:white;
    letter-spacing: 5px;
}

.links li {
    list-style-type: none;
    display:inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
}

.navbar-links ul{
    float:right;
}
.links a:hover{
    color:#115173
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

